<div class="card">
  <h2 *ngIf="!isEditMode">Add Receipt</h2>
  <h2 *ngIf="isEditMode">Edit Receipt</h2>

  <form [formGroup]="receiptForm" (ngSubmit)="submit()">

    <label>Restaurant</label>
    <input formControlName="restaurantName" />

    <label>Date</label>
    <input type="date" formControlName="date" />

    <div formArrayName="items">
      <div 
        class="item-row"
        *ngFor="let item of items.controls; let i = index"
        [formGroupName]="i"
      >
        <input formControlName="name" placeholder="Item name" />
        <input type="number" formControlName="quantity" />
        <input type="number" formControlName="price" />
        <button type="button" (click)="removeItem(i)">X</button>
      </div>
    </div>

    <label>Country</label>

    <select formControlName="country">
      <option value="">Select Country</option>

      <option *ngFor="let country of countries" [value]="country">
        {{ country }}
      </option>
    </select>

    <button type="button" (click)="addItem()">+ Add Item</button>
    <br /><br />
    <button type="submit">Save Receipt</button>

  </form>
</div>